/* General Styles */
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    color: #000;
}

/* Container Styles */
.container {
    max-width: 600px;
    margin: 150px auto;
    border: 1px solid #000;
    padding: 5rem;
    background-color: #fff;
}

/* Header Styles */
header h1 {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 550;
}

header h2 {
    font-size: 15px;
    color: #006EB6;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 200;
}

header hr {
    border: 0;
    height: 1px;
    background-color: lightgrey;
    margin: 10px auto 20px auto;
    width: 90%;
}

/* Main Content Styles */
main {
    margin-top: 4rem;
    text-align: left;
}

main p {
    margin-bottom: 20px;
}

main p em {
    font-style: italic;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 150px;
    margin-top: 2rem;
}
#themeSelector{
    float: right;
}
/* Dark Theme */
body.dark {
    background-color: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
}

body.dark .container {
    background-color: #444;
    /* Slightly lighter gray for the container */
    border-color: #666;
    /* Darker border for the container */
}

body.dark h1 {
    color: white;
    /* Light blue for main heading */
}

body.dark h2 {
    color: white;
    /* Slightly lighter blue for subtitle */
}

body.dark p,
body.dark ol {
    color: white;
    /* Light blue for text */
}

body.dark footer img {
    filter: brightness(0) invert(1);
    width: 130px;
    margin: 2rem;
    /* Invert logo for dark mode */
}