        body {
            font-family: Helvetica, Arial, sans-serif;
            background-color: #EFC69B;
            color: #473144;
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #AF1B3F;
            color: white;
        }

        .main-nav {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .main-nav li {
            margin: 0 15px;
        }

        .main-nav a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        main {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 20px;
            padding: 20px;
        }

        .book-review {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 15px;
            background: white;
            padding: 15px;
            border-radius: 8px;
        }

        .book-info img {
            max-width: 100%;
            border-radius: 5px;
            max-height: 40%;
        }

        .filters {
            background: white;
            padding: 15px;
            border-radius: 8px;
            text-align: center;
        }